<div class="container " >
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-3">
<div class="col-sm-3">
    <div class="card" style="width: 18rem;">
        <img src="..."height="200" class="card-img-top" >
        <div class="card-body">
          <p class="card-text"></p>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="..."height="200" class="card-img-top" >
            <div class="card-body">
              <p class="card-text"></p>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          </div>

          <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="..."height="200" class="card-img-top" >
                <div class="card-body">
                  <p class="card-text"></p>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              </div>

              <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="..."height="200" class="card-img-top" >
                    <div class="card-body">
                      <p class="card-text"></p>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img src="..."height="200" class="card-img-top" >
                        <div class="card-body">
                          <p class="card-text"></p>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                      </div>

                      <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img src="..."height="200" class="card-img-top" >
                            <div class="card-body">
                              <p class="card-text"></p>
                              <p class="card-text"></p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                          </div>

                          <div class="col-sm-3">
                            <div class="card" style="width: 18rem;">
                                <img src="..."height="200" class="card-img-top" >
                                <div class="card-body">
                                  <p class="card-text"></p>
                                  <p class="card-text"></p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                              </div>
                              </div>
                              </div>
                        

