<div class="container " >
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-3">
<div class="col-sm-3">
    <div class="card" style="width: 18rem;">
        <img src="https://www.world-import.com/images/P/Samsung-UA-55KU7000.jpg"height="200" class="card-img-top" >
        <div class="card-body">
          <p class="card-text">Samsung UA-55KU7000 Multi System LED SMART UDH 4K Flat Screen TV - Built in WiFi</p>
          <p class="card-text">₹45,000</p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/814ShQevBsL._SL1500_.jpg"height="200" class="card-img-top" >
            <div class="card-body">
              <p class="card-text">Samsung 125 cm (50 Inches) Super 6 Series 4K UHD LED Smart TV UA50NU6100 (Black)</p>
              <p class="card-text">₹46,999</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
          </div>

          <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/811S0pjxeJL._SX355_.jpg"height="200" class="card-img-top" >
                <div class="card-body">
                  <p class="card-text">OnePlus 126 cm (50 inches) Y Series 4K Ultra HD Smart Android LED TV 50Y1S Pro (Black)</p>
                  <p class="card-text">₹30,000</p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
              </div>

              <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/I/91OzzQSg47L._SY355_.jpg"height="200" class="card-img-top" >
                    <div class="card-body">
                      <p class="card-text">LG 139 cm (55 inches) 4K Ultra HD Smart LED TV 55UQ7500PSF (Ceramic Black)</p>
                      <p class="card-text">₹44,980</p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://m.media-amazon.com/images/I/91oHZMW3aHL._SX355_.jpg"height="200" class="card-img-top" >
                        <div class="card-body">
                          <p class="card-text">https://m.media-amazon.com/images/I/91oHZMW3aHL._SX355_.jpg</p>
                          <p class="card-text">	₹33,999</p>
                          <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                      </div>

                      <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://m.media-amazon.com/images/I/71ZKGDdz1lL._SX355_.jpg"height="200" class="card-img-top" >
                            <div class="card-body">
                              <p class="card-text">Sony Bravia 164 cm (65 inches) 4K Ultra HD Smart LED Google TV KD-65X74K (Black)</p>
                              <p class="card-text">₹80,000</p>
                              <a href="#" class="btn btn-primary">Buy Now</a>
                            </div>
                          </div>
                          </div>

                          <div class="col-sm-3">
                            <div class="card" style="width: 18rem;">
                                <img src="https://m.media-amazon.com/images/I/71k7M05go-L._SX355_.jpg"height="200" class="card-img-top" >
                                <div class="card-body">
                                  <p class="card-text">Mi 100 cm (40 inches) Horizon Edition Full HD Android LED TV 4A | L40M6-EI (Black)</p>
                                  <p class="card-text">₹19,990</p>
                                  <a href="#" class="btn btn-primary">Buy Now</a>
                                </div>
                              </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="card" style="width: 18rem;">
                                    <img src="https://m.media-amazon.com/images/I/71fZOKh0i1L._SY355_.jpg"height="200" class="card-img-top" >
                                    <div class="card-body">
                                      <p class="card-text">Mi 189.34cm (75 inches) Q1 Series 4K Ultra HD Smart QLED TV L75M6-ESG (Metallic Grey)</p>
                                      <p class="card-text">₹1,29,990</p>
                                      <a href="#" class="btn btn-primary">Buy Now</a>
                                    </div>
                                  </div>
                                  </div>
                              </div>
                              </div>
                              </div>
                        

