
        <div class="container" id="product-section">
          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <div class="row g-3">

           <div class="col-sm-6">
            <img src="https://images.samsung.com/is/image/samsung/in-28-litre-convection-microwave-oven-mc28m6036cc-mc28m6036cc-tl-frontblack-184429867?$1300_1038_PNG$"  width="500"height="500" class="card-img-left">
            <div class="card-body">

            </div>
           </div>
           
           <div class="col-sm-6">
            <div class="row">
             
              <h1>Microwaveoven</h1>
              <h3>28L convention oven</h3>
              <p>Key Features
Convection: Can be used for baking along with grilling, reheating, defrosting and cooking<br/>
Capacity- 28L : Suitable for Large families<br/>
1 Year on product and 4 years on Magnetron ( From the date of Purchase)<br/>
Also included in the box: Glass Tray, Rotating Ring,shelf, Owner Manual+ Recipe Manual, Cook Book</p>
              <p>₹15,600.00<br/>
                MRP: ₹17,699.00 (Inclusive of all taxes)<br/>
                You Save: 21%(₹3,709)<br/>
                EMIs (Credit Cards) from ₹671.7/month | View Plans<br/>
                FREE Shipping!</p>
                <div class="col-sm-6">
                  <div class="row g-3">
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
                </div>
                <div class="col-sm-6">
                  <div class="row g-3">
                    <a href="#" class="btn btn-primary">Buy Now</a>

            </div>
            
            
                   
                   
         </div>
         </div>
         </div>