<div class="container " >
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-3">
<div class="col-sm-3">
    <div class="card" style="width: 18rem;">
        <img src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1660889927/Croma%20Assets/Communication/Mobiles/Images/260096_njhd0p.png/mxw_2048,f_auto"height="200" class="card-img-top" >
        <div class="card-body">
          <p class="card-text">Vivo V25 Pro 5G (12GB RAM, 256GB, Sailing Blue)</p>
          <p class="card-text">₹36,560</p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1662434970/Croma%20Assets/Communication/Mobiles/Images/252420_gpezur.png/mxw_2048,f_auto"height="200" class="card-img-top" >
            <div class="card-body">
              <p class="card-text">OnePlus 10R 5G (12GB RAM, 256GB, Forest Green)</p>
              <p class="card-text">₹32,999</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
          </div>

          <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1662436599/Croma%20Assets/Communication/Mobiles/Images/252360_tjficc.png/mxw_2048,f_auto"height="200" class="card-img-top" >
                <div class="card-body">
                  <p class="card-text">SAMSUNG Galaxy M53 5G (8GB RAM, 128GB, Blue)</p>
                  <p class="card-text">₹23,999</p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
              </div>

              <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1662442909/Croma%20Assets/Communication/Mobiles/Images/244390_pi4pef.png/mxw_2048,f_auto"height="200" class="card-img-top" >
                    <div class="card-body">
                      <p class="card-text">Redmi 9A Sport (2GB RAM, 32GB, Coral Green)</p>
                      <p class="card-text">₹6,999</p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1662418297/Croma%20Assets/Communication/Mobiles/Images/233741_gzetqb.png/mxw_2048,f_auto"height="200" class="card-img-top" >
                        <div class="card-body">
                          <p class="card-text">Redmi Note 10 Pro (6GB RAM, 128GB, Dark Night)
                        </p>
                          <p class="card-text">₹17,999</p>
                          <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                      </div>

                      <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1656914024/Croma%20Assets/Communication/Mobiles/Images/256970_lxan3m.png/mxw_2048,f_auto"height="200" class="card-img-top" >
                            <div class="card-body">
                              <p class="card-text">OnePlus Nord 2T 5G (256GB ROM, 12GB RAM, 5011102063, Gray Shadow)
                            </p>
                              <p class="card-text">₹33,999</p>
                              <a href="#" class="btn btn-primary">Buy Now</a>
                            </div>
                          </div>
                          </div>

                          <div class="col-sm-3">
                            <div class="card" style="width: 18rem;">
                                <img src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1656914150/Croma%20Assets/Communication/Mobiles/Images/256971_warxls.png/mxw_2048,f_auto"height="200" class="card-img-top" >
                                <div class="card-body">
                                  <p class="card-text">OnePlus Nord 2T 5G (256GB ROM, 12GB RAM, 5011102065, Jade Fog)</p>
                                  <p class="card-text">₹33,999</p>
                                  <a href="#" class="btn btn-primary">Buy Now</a>
                                </div>
                              </div>
                              </div>

                              <div class="col-sm-3">
                                <div class="card" style="width: 18rem;">
                                    <img src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1662442016/Croma%20Assets/Communication/Mobiles/Images/248898_c97rcn.png/mxw_2048,f_auto"height="200" class="card-img-top" >
                                    <div class="card-body">
                                      <p class="card-text">SAMSUNG Galaxy S22 5G (8GB RAM, 128GB, Phantom White)</p>
                                      <p class="card-text">₹62,999</p>
                                      <a href="#" class="btn btn-primary">Buy Now</a>
                                    </div>
                                  </div>
                                  </div>

                                  <div class="col-sm-3">
                                    <div class="card" style="width: 18rem;">
                                        <img src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1662436729/Croma%20Assets/Communication/Mobiles/Images/251267_x4lcmx.png/mxw_2048,f_auto"height="200" class="card-img-top" >
                                        <div class="card-body">
                                          <p class="card-text">OPPO F21 Pro (8GB RAM, 128GB, Cosmic Black)</p>
                                          <p class="card-text">₹22,999</p>
                                          <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                      </div>
                                      </div>
                                      </div>
                                      </div>
                                      </div>
                                
