
<div class="container " >
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-3">
        <div class="col-sm-3">
          <div class="card" >
            <img src="https://rukminim1.flixcart.com/image/416/416/computer/s/n/f/hp-notebook-original-imaepx7gjttjjdn2.jpeg?q=70" width="100" height="200" class="card-img-top" >
            <div class="card-body">
             
              <p class="card-text">HP Core i3 6th Gen - (4 GB/1 TB HDD/DOS) 15-BE012TU Laptop  (15.6 inch, SParkling Black, 2.19 kg)</p>
              <p class="card-text">₹31,041</p>
              <a href="#"class="btn btn-primary">Buy Now</a> 
            </div>
          </div>
          </div>
          <div class="col-sm-3">
            <div class="card" >
              <img src="https://cdn1.smartprix.com/rx-ilLdz1lRS-w420-h420/hp-pavilion-15s-fq51.webp" width="100"height="200" class="card-img-top" >
              <div class="card-body">
                <p class="card-text">HP Pavilion 15s-fq5111TU Laptop (12th Gen Core i5/ 8GB/ 512GB SSD/ Win11 Home)</p>
                <p class="card-text">₹55,529</p>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
            </div>
            <div class="col-sm-3">
              <div class="card" >
                <img src="https://m.media-amazon.com/images/I/41pA+JXg9uL.jpg" width="20"height="200" class="card-img-top" >
                <div class="card-body">
                  <p class="card-text" >Dell Lattitude E5270 Intel Core I5 6th Gen 12.5 inches HD Laptop (8GB DDR4 RAM-256 GB SSD-Win 10 Pro) </p>
                  <p class="card-text">₹26,998</p>
                  <a href="#"class="btn btn-primary">Buy Now</a> 
                </div>
              </div>
              </div>
              <div class="col-sm-3">
                <div class="card" >
                  <img src="https://cdn1.smartprix.com/rx-iAxhZJNX2-w1200-h1200/AxhZJNX2.jpg" height="200" class="card-img-top" >
                  <div class="card-body">
                    <p class="card-text">Samsung Notebook 9 Pen (2019) 13 inch Laptop (8th Gen Ci7/ 16GB/ 512GB SSD/ Win10 Home)</p>
                    <p class="card-text">₹1,19,999</p>
                    <a href="#"class="btn btn-primary">Buy Now</a> 
                  </div>
                </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" >
                      <img src="https://www.reliancedigital.in/medias/Asus-BV302W-Laptop-492850235-i-1-1200Wx1200H?context=bWFzdGVyfGltYWdlc3w3Njg3OXxpbWFnZS9qcGVnfGltYWdlcy9oNjQvaDY2Lzk4MzU0ODk4NTM0NzAuanBnfGE0OGFjOGM2NTQ5ZWRlNWY5ZjlhMDM3ZGI5MjJiZWZlNDFlOGUzMDQxZGQ3NWVlODQ0N2IwMzczMDEyYWJkZDU" height="200" class="card-img-top" >
                      <div class="card-body">
                        <p class="card-text">Asus Vivobook 14 Laptop (10th Gen Intel i3-1005G1/8GB RAM/1TB HDD/Intel UHD Graphics/Windows 11/HD), 35.56 cm (14 Inch)</p>
                        <p class="card-text">₹27,999</p>
                        <a href="#"class="btn btn-primary">Buy Now</a> >
                      </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card" >
                          <img src="https://cdn1.smartprix.com/rx-ixw8plkUF-w420-h420/hp-pavilion-15-ec200.webp" height="200" class="card-img-top" >
                          <div class="card-body">
                            <p class="card-text">HP Pavilion 15-ec2004AX Gaming Laptop (AMD Ryzen 5 5600H/ 8GB/ Win10 Home/ 4GB Graph)</p>
                            <p class="card-text">₹55,529</p>
                            <a href="#"class="btn btn-primary">Buy Now</a> >
                          </div>
                        </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card" >
                              <img src="https://www.91-img.com/pictures/laptops/xiaomi/xiaomi-mi-notebook-14-horizon-138518-v1-large-1.jpg?tr=q-80" height="200" class="card-img-top" >
                              <div class="card-body">
                                <p class="card-text">Xiaomi Mi Notebook 14 Horizon Laptop (Core i5 10th Gen/8 GB/512 GB SSD/Windows 10/2 GB)</p>
                                <p class="card-text">₹55,999</p>
                                <a href="#"class="btn btn-primary">Buy Now</a> >
                              </div>
                            </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card" >
                                  <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/mbp-spacegray-select-202206?wid=640&hei=595&fmt=jpeg&qlt=95&.v=1653493200207" height="200" class="card-img-top" >
                                  <div class="card-body">
                                    <p class="card-text">Apple M2 chip with 8-core CPU, 10-core GPU and 16-core Neural Engine
                                      8GB unified memory
                                      256GB SSD storage
                                      33.02 cm (13-inch) Retina display with True Tone</p>
                                    <p class="card-text">₹15,288</p>
                                    <a href="#"class="btn btn-primary">Buy Now</a> 
                                  </div>
                                </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card" >
                                      <img src="https://m.media-amazon.com/images/I/61hswDLocBL._SX679_.jpg" height="200" class="card-img-top" >
                                      <div class="card-body">
                                        <p class="card-text">ASUS VivoBook 15 Intel Core i3-1115G4 (8GB RAM/512GB M.2 NVMe PCIe 3.0 SSD/Windows 11/MS Office H&S 2019/1 Yr.</p>
                                        <p class="card-text">₹37,972</p>
                                        <a href="#"class="btn btn-primary">Buy Now</a> 
                                      </div>
                                    </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card" >
                                          <img src="https://m.media-amazon.com/images/I/51c7JY+rpOL._SY300_SX300_.jpg" height="200" class="card-img-top" >
                                          <div class="card-body">
                                            <p class="card-text">Lenovo IdeaPad Slim 5 Intel Core i5 11th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11</p>
                                            <p class="card-text"> ₹68,500</p>
                                            <a href="#"class="btn btn-primary">Buy Now</a> 
                                          </div>
                                        </div>
                                        </div>
                                        
              </div>
              </div>
              </div>