
        <div class="container" id="product-section">
          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <div class="row g-3">

           <div class="col-sm-6">
            <img src="https://rukminim1.flixcart.com/image/312/312/k5h2jrk0/washing-machine-new/q/b/m/wt85r4000ll-tl-samsung-original-imafz42p4abfksg2.jpeg?q=70"  width="500"height="500" class="card-img-left">
            <div class="card-body">

            </div>
           </div>
           
           <div class="col-sm-6">
            <div class="row">
             
              <h1>Washing Machine</h1>
              <h3>Top load watching machine</h3>
              <p>Key Features
                Warranty Summary:-
                3 Years Warranty on Product, 12 Years Warranty on Motor from SAMSUNG<br/>
                Covered in Warranty:-
                All Parts Excluding Outer Cabinet and Plastic Parts from the Date of Purchase will be <br/>
                Covered Under Warranty. This also Covers all Manufacturing Defects<br/>
                Not Covered in Warranty
                Parts: Outer Cabinet and Plastic Parts. Any Accessories External to the Product. <br/>The Product is Not Used According to the Instructions Given in the Instructions Manual. Defects Caused by Improper Use as Determined by the Company Personnel. Modification or Alteration of Any Nature Made in the Electrical Circuitry or Physical Construction of the Set. Site (Where the Premises is Kept) Conditions that Do not Confirm to the Recommended Operating Conditions of the Machine
              <p>8,700.00<br/>
                MRP: ₹12,699.00 (Inclusive of all taxes)<br/>
          
                EMIs (Credit Cards) from ₹560.7/month | View Plans<br/>
                FREE Shipping!</p>
                <div class="col-sm-6">
                  <div class="row g-3">
                <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
                </div>
                <div class="col-sm-6">
                  <div class="row g-3">
                    <a href="#" class="btn btn-primary">Buy Now</a>

            </div>
            
            
                   
                   
         </div>
         </div>
         </div>
