<div class="container " >
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-3">
<div class="col-sm-3">
    <div class="card" style="width: 18rem;">
        <img src="https://images-eu.ssl-images-amazon.com/images/I/410l0pKc2OL._SX300_SY300_QL70_FMwebp_.jpg"height="200" class="card-img-top" >
        <div class="card-body">
          <p class="card-text">SanDisk Ultra Dual Drive Go usb3.0 Type C Pendrive for Mobile (Black, 64 GB, 5Y - SDDDC3-064G-I35)</p>
          <p class="card-text">₹746</p>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/51sE677JiIL._SY450_.jpg"height="200" class="card-img-top" >
            <div class="card-body">
              <p class="card-text">Pen Drive 64 Gb Mini Swivel Pendrive with Fast Class 10 Chip Metal Finish, Silver</p>
              <p class="card-text">₹899</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
          </div>
          <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/31whsGgAHHL._SY300_SX300_QL70_FMwebp_.jpg"height="200" class="card-img-top" >
                <div class="card-body">
                  <p class="card-text">Smars® USB Voice Recorder Pendrive Flash Drive with 8 GB Internal Memory and 8 Hours Battery Backup</p>
                  <p class="card-text">₹1,199</p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
              </div>
              <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/I/710dWgbaGuL._SY879_.jpg"height="200" class="card-img-top" >
                    <div class="card-body">
                      <p class="card-text">SanDisk Cruzer Glide 128GB USB Pen Drive, black</p>
                      <p class="card-text"> ₹3,685</p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://m.media-amazon.com/images/I/71qFlJxm0iL._SL1500_.jpg"height="200" class="card-img-top" >
                        <div class="card-body">
                          <p class="card-text">HP USB 3.1 Flash Drive 128GB 796L</p>
                          <p class="card-text">₹1,499</p>
                          <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://m.media-amazon.com/images/I/711yF6vrfFS._SL1500_.jpg"height="200" class="card-img-top" >
                            <div class="card-body">
                              <p class="card-text">SanDisk Ultra Dual Drive Go usb3.0 Type C Pen Drive for Mobile (Green, 128 GB, 5Y)</p>
                              <p class="card-text">₹1,099</p>
                              <a href="#" class="btn btn-primary">Buy Now</a>
                            </div>
                          </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="card" style="width: 18rem;">
                                <img src="https://m.media-amazon.com/images/I/61TuPtmTScL._SX355_.jpg"height="200" class="card-img-top" >
                                <div class="card-body">
                                  <p class="card-text">SanDisk SDCZ48-032G-UAM46 Ultra CZ48 32GB USB 3.0 Pen Drive (Black)</p>
                                  <p class="card-text">₹379</p>
                                  <a href="#" class="btn btn-primary">Buy Now</a>
                                </div>
                              </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="card" style="width: 18rem;">
                                    <img src="https://m.media-amazon.com/images/I/319FRal3lpL.jpg"height="200" class="card-img-top" >
                                    <div class="card-body">
                                      <p class="card-text">eo Pen Drives Classic Black Pendrive with Class 10 Fast USB 2.0 Flash Drive (64 Gb)</p>
                                      <p class="card-text">₹899</p>
                                      <a href="#" class="btn btn-primary">Buy Now</a>
                                    </div>
                                  </div>
                                  </div>
                         </div>
                         </div>
                         </div>                                                   