<div class="container " >
  <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <div class="row g-3">
      
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.samsung.com/is/image/samsung/p6pim/in/2108/gallery/in-galaxy-watch4-398806-sm-r865fzdainu-481079649?$2052_1641_PNG$" height="200" class="card-img-top" >
            <div class="card-body">
              <p class="card-text">Galaxy Watch4
                4G Watch4 (40mm) Pinkgold</p>
              <p class="card-text">₹28999</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
          </div>
          <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/61gscZYmaoL._SL1377_.jpg"height="200" class="card-img-top">
                <div class="card-body">
                  <p class="card-text">boAt Xtend Smartwatch with Alexa Built-in, 1.69” HD Display, Multiple Watch Faces, Stress Monitor, Heart & SpO2 Monitoring, 14 Sports Modes</p>
                  <p class="card-text">₹2,099</p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
              </div>
              <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/products/main2_529ecf13-c993-4fe7-a2d6-9357f1a47db4_600x.png?v=1650387008"height="200" class="card-img-top" >
                    <div class="card-body">
                      <p class="card-text">boAt Watch Xtend‌ with Alexa Built-in, 1.69" Inches Big Square Display, 14 Sports Mode, 15</p>
                      <p class="card-text">₹ 2,699</p>
                      <a href="#" class="btn btn-primary">Buy Now</a>
                    </div>
                  </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://staticimg.titan.co.in/Titan/Catalog/90137AP02_1.jpg?impolicy=pqlow&imwidth=640"height="200" class="card-img-top" >
                        <div class="card-body">
                          <p class="card-text">Titan Smart Touch Screen Watch with Aluminium case</p>
                          <p class="card-text">₹8,995</p>
                          <a href="#" class="btn btn-primary">Buy Now</a>
                        </div>
                      </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://cdn.shopify.com/s/files/1/0137/0292/2286/products/ninja-calling-pro-black-gold_2_360x.png?v=1661750040"height="200" class="card-img-top" >
                            <div class="card-body">
                              <p class="card-text">Ninja Calling Pro</p>
                              <p class="card-text"> ₹1,799</p>
                              <a href="#" class="btn btn-primary">Buy Now</a>
                            </div>
                          </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="card" style="width: 18rem;">
                                <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/products/9e5b8bf2-29bf-4e1c-b24f-f8f4196ac14b_600x.png?v=1625157764"height="200" class="card-img-top" >
                                <div class="card-body">
                                  <p class="card-text">boAt Watch Flash - Smart Watch With a 33mm Full Touch LCD Display, Round dial, IP68 sweat</p>
                                  <p class="card-text">₹ 1,999</p>
                                  <a href="#" class="btn btn-primary">Buy Now</a>
                                </div>
                              </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="card" style="width: 18rem;">
                                    <img src="https://staticimg.titan.co.in/Fastrack/Catalog/38074AP03_1.jpg?pView=pdp"height="200" class="card-img-top" >
                                    <div class="card-body">
                                      <p class="card-text">REFLEX PLAY SMART WATCH WITH SILICONE PINK STRAP</p>
                                      <p class="card-text">  ₹5,995</p>
                                      <a href="#" class="btn btn-primary">Buy Now</a>
                                    </div>
                                  </div>
                                  </div>
                                  </div>
                                  </div>
                                  </div>