<div class="container " >
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-3">
        <div class="col-sm-3">
        <div class="card">
    <img src="https://images.samsung.com/is/image/samsung/in-galaxy-tab-s6-lite-p615-sm-p615nzbainu-frontblue-236966779?$1300_1038_PNG$." height="200"class="card-img-top" >
    <div class="card-body">
      <p class="card-text">Galaxy Tab S6 Lite
        4G Tab S6 Lite with Exynos Processor Blue</p>
      <p class="card-text">₹29999</p>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
<img src="https://images.samsung.com/is/image/samsung/p6pim/in/2202/gallery/in-galaxy-tab-s8-wifi-x700-sm-x700nidainu-530802543?$1300_1038_PNG$" height="200" class="card-img-top" >
<div class="card-body">
  <p class="card-text">Galaxy Tab S8 (Wi-Fi)
    Pink Gold 128GB</p>
  <p class="card-text">₹53999</p>
  <a href="#" class="btn btn-primary">Buy Now</a>
</div>
</div>
</div>
<div class="col-sm-3">
    <div class="card">
<img src="https://www.google.com/aclk?sa=l&ai=DChcSEwjvhpPEkqb6AhUHmGYCHfWXCOIYABAdGgJzbQ&ae=2&sig=AOD64_16o_lD9ylGk_jk955Q6mhERVdKmQ&adurl&ctype=5&ved=2ahUKEwiI8oXEkqb6AhUxpukKHWDhBvwQvhd6BQgBEKQB" class="card-img-top" >
<div class="card-body">
  <p class="card-text">Lenovo M10 Plus 10.3 Inch FHD+ Tablet (Platinum Grey, 128GB, 4GB RAM)</p>
  <p class="card-text"> ₹11,999</p>
  <a href="#" class="btn btn-primary">Buy Now</a>
</div>
</div>
</div>
<div class="col-sm-3">
    <div class="card">
<img src="https://www.reliancedigital.in/medias/Realme-RMP2106-Regular-Tablets-492850318-i-1-1200Wx1200H?context=bWFzdGVyfGltYWdlc3w0MzczMDB8aW1hZ2UvanBlZ3xpbWFnZXMvaDRjL2hhMS85ODQ4OTAzMjcwNDMwLmpwZ3xkMjIyZGU2N2M5MmE1M2IxNDcxNDIwY2EyYTMyZTFmNjdmNGU4ZTI1MzgxMWI0NTFiZWViYmVkZDU5MzBlYTc4" class="card-img-top" >
<div class="card-body">
  <p class="card-text">Realme Pad Mini 22.09 cm (8.7 inch) Wi-Fi Tablet 3 GB RAM, 32 GB, Grey RMP2106</p>
  <p class="card-text">₹10,999</p>
  <a href="#" class="btn btn-primary">Go somewhere</a>
</div>
</div>
</div>
<div class="col-sm-3">
    <div class="card">
<img src="https://www.reliancedigital.in/medias/Lenovo-ZA540019IN-Tablets-491838414-i-1-1200Wx1200H?context=bWFzdGVyfGltYWdlc3wyMTk0MzR8aW1hZ2UvanBlZ3xpbWFnZXMvaGFhL2hiNC85MzEwNTAwMjI1MDU0LmpwZ3w5MTQ0YzExZWYwNmY5YjRjYzU1NTVlNjEyZThlNjRiMDFiMzdmNDJkMjFhY2JlN2ZiZDVjMzUxNmMyY2YyM2M4" class="card-img-top" >
<div class="card-body">
  <p class="card-text">Lenovo Yoga YT3-X705X 25.65 cm (10.1 inch) Wi-Fi + Cellular Tablet 4 GB RAM, 64 GB, Iron Grey ZA540019IN</p>
  <p class="card-text">₹19,999</p>
  <a href="#" class="btn btn-primary">Buy Now</a>
</div>
</div>
</div>
<div class="col-sm-3">
    <div class="card">
<img src="https://images.samsung.com/is/image/samsung/p6pim/in/sm-x205nzaainu/gallery/in-galaxy-a8-sm-x205-sm-x205nzaainu-531103313?$1300_1038_PNG$" class="card-img-top" >
<div class="card-body">
  <p class="card-text">Galaxy Tab A8
    LTE 3GB | 32GB Darkgray 32GB</p>
  <p class="card-text">₹18999</p>
  <a href="#" class="btn btn-primary">Buy Now</a>
</div>
</div>
</div>
<div class="col-sm-3">
    <div class="card">
<img src="https://www.reliancedigital.in/medias/Lenovo-ZA9L0317IN-RegularTablets-492850758-i-1-1200Wx1200H?context=bWFzdGVyfGltYWdlc3wzMTM4MzZ8aW1hZ2UvanBlZ3xpbWFnZXMvaGQ3L2gxMC85ODYxNTU1OTc4MjcwLmpwZ3xlNDcxNzVkZjllNDUxYzNiNDg5MDI2MTRlNDhjZThiMmY2ZmIxMjFjNjRjM2VjZTY2MzExNGQyNDNlOWZiODg2" class="card-img-top" >
<div class="card-body">
  <p class="card-text">Lenovo TB-J616X P11 Plus 27.94 cm (11 inch) Wi-Fi Plus Cellular Tablet 6 GB RAM, 128 GB, Slate Grey, ZA9L0317IN
</p>
  <p class="card-text">₹25,999</p>
  <a href="#" class="btn btn-primary">Buy Now</a>
</div>
</div>
</div>
<div class="col-sm-3">
    <div class="card">
<img src="https://images.samsung.com/is/image/samsung/p6pim/in/sm-x205nzaainu/gallery/in-galaxy-a8-sm-x205-sm-x205nzaainu-531103313?$1300_1038_PNG$" class="card-img-top" >
<div class="card-body">
  <p class="card-text">Galaxy Tab A8
    LTE 3GB | 32GB Darkgray 32GB</p>
  <p class="card-text">₹18999</p>
  <a href="#" class="btn btn-primary">Buy Now</a>
</div>
</div>
</div>
  </div>
  </div>
  </div>